body {
    margin: 20px    
}

.axis {
    font-weight: bold;
    font-size: 14px;
}

.x-axis {
    text-transform: capitalize;
}


#legend circle {
    r: 8px;
    cy: 8px;
    cx: 8px;
}

.y-title {
    fill: black;
    text-anchor: end;
    font-size: 16px;
    font-weight: bold;
}

.plot-title {
    fill: black;
    text-anchor: middle;
    font-size: 16px;
    font-weight: bold;
}


#legend svg {
    width: 100px;
    height: 50px;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
}

.bar.label {
    text-anchor: middle;
    font-size: 16px;
    font-weight: bold;
}

.pie.label {
    fill: white;
    text-anchor: middle;
    font-size: 18px;
    font-weight: bold;
}

.form-control {
    width: 200px;
}

#thresh-line {
  stroke-dasharray: 7;
  stroke: green;
  stroke-width: 3;
}


.target.label {
    fill: magenta;
}